<div class="row mt-4">
  <% @articles.each do |article|%>
    <div class="col-12" style="font-size: 30px">
      <a href="<%= article_path(article)%>"><%= article.title %></a>
    </div>
    <div class="col-12">
      <p><%= article.content %></p>
    </div>
  <% end %>
</div>
